<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/top.css">
    <style>

    </style>
</head>
<body>
<div class="content">
    <div class="public-top"><p>借阅历史</p></div>
    <p class="shop-pull"></p>
</div>
<div class="bottom-nav col-xs-12">
    <ul>
        <a href=""><i  style=" margin-top: 2px;"  class="fa fa-home"><p>首页</p></i></a>
        <a href=""><i style=" margin-top: 4px;" class="fa fa-telegram"><p>发现</p></i></a>
        <a href=""><i style=" margin-top: 2px;" class="fa fa-cart-plus"><p>书单</p></i></a>
        <a href=""><i style=" margin-top: 4px;" class="fa fa-user-circle-o"><p>个人</p></i></a>
    </ul>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>

    (function () {

        var num =0;
        $.ajax({
            url:"",
            type:"GET",
            async:false,
            dataType:"json",
            success:function (data) {
                var html="";
                $.each(data,function (i,item) {
                    html ='<div class="shop-item">'+
                        '<img src="'+item.src+'" alt="" style="width: 80px;height: 80px;margin: 0;>'+
                        '<div class="shop-info" style=" margin-left: 20px;>'+
                        '<h4>'+item.name+'</h4>'+
                        '<p>'+item.author+'</p>'+
                        '<p hidden class="count-book-id">'+item.id+'</p>'+
                        '</div>'+
                        '</div>';
                })
                $(".shop-content").append(html);
                $(".shop-item").on("click",function () {
                    window.location.href = ".....?bookId="+$(this).find(".count-book-id").html();
                })

            }

        });

    })();
</script>

</body>

</html>